* {
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  background-color:  #E5E5E5;;
  display: flex;
  justify-content: center;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.infoboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1024px;
  height: 774px;
  background-color: #004980;
}

.level {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  height: 459px;
  background-color: #C2F5FF;
  border-radius: 12px;
}

.namebox {
  padding-top:  52px;
  padding-bottom: 46px;
  width: 208px;
  height: 96px;

}

.nametext{
width: 208px;
height: 96px;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #004980;
} 

.levelnumbers {
  display: flex;
  flex-direction: row;
  gap: 24px; ;
  padding-bottom:67px ;
  
}

.levenumber{
  width: 98px;
  height: 98px;
  left: 341px;
  top: 354px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #FFFFFF;
  border-radius: 12px;
}

.number{
  width: 97px;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #0080C1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 246px;
  height: 50px;
  left: 389px;
  top: 519px;
  background: #7AC100;
  border-radius: 12px;
}

.button_link {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}

